.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.login-card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  text-align: center;
}

.login-card input {
  padding: 10px;
  font-size: 14px;
}

.login-card button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.login-card button:hover {
  opacity: 0.9;
}

.error {
  color: red;
  text-align: center;
}
